.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1px; /* Adjust top margin as needed */
    margin-left: -90px; /* Adjust left margin as needed */
}

.card-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* to create a circular shape */
    object-fit: cover;
    margin-bottom: 10px;
}
.card-content {
    flex: 1; /* Fill remaining space */
    padding: 10px;
}

.card-content h2 {
    color: #11c73b;
    font-size: 15px;
    margin-top: 0;
}

.card-content p {
    margin-bottom: 0;
    color: #11c73b;
    font-size: 15px;
    font-family: 'Courier', monospace;
}

.card-content i {
    color: #11c73b;
    font-size: 15px; /* Large font size */
    text-align: center;
    font-family: 'Courier', monospace;
}
