@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in {
    animation: slideInFromTop 1s ease-out;
}

.text-large {
    font-size: 2rem;
}

.card {
    transition: transform 0.2s ease-out;
}

.card:hover {
    transform: scale(1.05);
}