@keyframes slideInFromTop {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in {
    animation: slideInFromTop 3s ease-out;
}

.text-large {
    font-size: 2rem;
}

.fade-out {
    transition: opacity 3s ease-out;
}
