body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1d1d;
    overflow-x: hidden;
}

body {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

body.loaded {
    opacity: 1;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #191818;
    color: #fff;
    padding: 20px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 0;
}

h2 {
    color: #11c73b;
    font-size: 72px; 
    text-align: center;
    margin-bottom: 20px; 
    font-family: 'Consolas', 'Lucida Console', monospace;
}

p {
    color: #11c73b;
    font-size: 24px; 
    text-align: center;
    font-family: 'Courier', monospace;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color : #191818;
    color: #fff;
    padding: 0px 0;
    text-align: center;
}

.social-icons {
    list-style-type: none;
    padding: 20;
    color: #11c73b;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
    color: #11c73b;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.social-icons a {
    color: #11c73b; /* Green color */
    font-size: 20px;
    text-decoration: none;
}